  
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
 }
    
@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

.navbar-scroll {
  background-color: #ffa734;
}


.nav1 {
  font-size: unset;
  height: 3.5rem;
}

.logo {
    background-image:#f11a1a;
}

a:hover {
  background-color: #f18d0b;
}

